@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,300;0,400;1,600&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

#container {
    width: 1024px;
    height: auto;
    background-color: #2C2C2C;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 13 5px;
    background-color: #0d0d0e;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
    align-content: center;
    padding: 20px;
}

.item {
    color: white;
    padding: 10px;
}

.fundo-branco {
    background-color: white;
}

#container-interno {
    width: 100%;
    padding: 0 10px;
}

.pesquisar {
    width: 100%;
    padding: 5px;
}

.texto-menu {
    color: #fff;
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    padding: 15px;


}

.item-navbar {

    align-self: center;

}

.texto-navbar {
    color: blue;
    text-decoration: none;
}

.texto-principal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: white;
    padding: 40px 0px;
}

.banner-img {
    width: 100%;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.categorias-img {
    width: 100%;
    height: 272px;
}

.promocoes {
    margin-top: 40px;
}

.promocoes-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
}